[user]
	name = artivis
	email = TO_FILL 

[core]

[alias]
    gl  = log -10 --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
    gll = log     --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'

    ci = commit
    cp = cherry-pick

    co = checkout
    cob = checkout -b
    br = branch
    bra = branch -a

    stat = status
    st = status

    unstage = reset HEAD
    uns = reset HEAD

    cim = commit -m
    cia = commit --amend
    cian = commit --amend --no-edit

    rib = rebase -i

    remote = remote -v

    reword = commit -v --amend

    tree     = log --oneline --abbrev-commit --all --graph --decorate --color=always --pretty=greenspaced
    treefull = log --abbrev-commit --all --graph --decorate --color=always --pretty=medium
    treee    = log --oneline --abbrev-commit --all --graph --decorate --color

    dif = diff --word-diff

    brdiff = "!f() { git log $1 ^$2; }; f"
    filelog = "log --follow -p --"

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[credential]
	helper = cache --timeout=300
[push]
	default = current
[branch]
	autosetuprebase = always
[pretty]
	greenspaced = format: %Cgreen%h%Creset %s%Cred%d%Creset%n
